@mixin text-scale ($mg-btm: $margin-y-base, $font-size: $font-size-primary, $scale: 1) {
    margin-bottom: calc($mg-btm * $scale);
    font-size: calc($font-size * $scale);
}

@mixin btn-scale ($pdng: $padding-fixed , $font-size: $font-size-primary, $scale: 1) {
    padding: calc(calc($pdng / 2) * $scale) calc($pdng * $scale);
    font-size: calc($font-size * $scale);
}

@mixin pdng-y-scale ($pdng-top: 0, $pdng-btm: 0, $scale: 1) {
    padding-top: calc($pdng-top * $scale);
    padding-bottom: calc($pdng-btm * $scale);
}