html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eeeff1;
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 14px 28px;
  font-size: 0.91rem;
  background-color: #34547a;
  color: #fff;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  margin: 0 7%;
}

.header {
  padding-top: 19.5px;
  padding-bottom: 35.25px;
}

.navbar {
  margin-bottom: 40.5px;
}
.navbar #menu__toggle {
  opacity: 0;
}
.navbar #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.navbar #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.navbar #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.navbar #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.navbar .menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.navbar .menu__btn > span,
.navbar .menu__btn > span::before,
.navbar .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.navbar .menu__btn > span::before {
  content: "";
  top: -8px;
}
.navbar .menu__btn > span::after {
  content: "";
  top: 8px;
}
.navbar .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
.navbar .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.navbar .menu__item:hover {
  background-color: #CFD8DC;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.hero__text {
  margin-bottom: 32.5px;
  font-size: 1rem;
  color: #727272;
}/*# sourceMappingURL=styles.css.map */