html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eeeff1;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  line-height: 37.5px;
  font-size: 1.2rem;
}
@media screen and (min-width: 480px) {
  h1, h2, h3, h4 {
    font-size: 1.4rem;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 600px) {
  h1, h2, h3, h4 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 900px) {
  h1, h2, h3, h4 {
    font-size: 1.8rem;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1280px) {
  h1, h2, h3, h4 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
}

h1 {
  line-height: 78.75px;
}

p, span, a {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 400;
  line-height: 26.25px;
  color: black;
}
@media screen and (min-width: 480px) {
  p, span, a {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 600px) {
  p, span, a {
    font-size: 1rem;
  }
}

.container {
  margin: 0 6.3%;
}
@media screen and (min-width: 480px) {
  .container {
    margin: 0 8.4%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    margin: 0 10.5%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    margin: 0 14.7%;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    margin: 0 16.8%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0 21%;
  }
}

.text-container {
  max-width: 540px;
  margin: auto;
}

.hero__text, .section__text {
  color: #727272;
}

.section__video {
  position: relative;
  padding-bottom: 56%;
  width: 100%;
  text-align: left;
}
.section__video iframe {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.btn {
  padding: 14px 28px;
  font-size: 0.91rem;
  background-color: #34547a;
  color: #fff;
  margin: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  background-color: #5b86b9;
}
@media screen and (min-width: 600px) {
  .btn {
    padding: 16px 32px;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 900px) {
  .btn {
    padding: 18px 36px;
    font-size: 0.9rem;
    margin-left: 0;
  }
}
@media screen and (min-width: 1440px) {
  .btn {
    padding: 20px 40px;
    font-size: 1rem;
  }
}

.footer {
  background-color: #34547a;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 480px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer .footer__bg {
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .footer .footer__bg {
    text-align: left;
    margin-bottom: 20px;
  }
}
.footer .footer__sm {
  color: #fff;
  font-size: 0.8rem;
}
@media screen and (min-width: 900px) {
  .footer .footer__sm {
    text-align: left;
  }
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 600px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 900px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section--about {
  background-color: #f9f9f9;
  padding-top: 28px;
  padding-bottom: 25px;
}
@media screen and (min-width: 480px) {
  .section--about {
    padding-top: 44.8px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 600px) {
  .section--about {
    padding-top: 56px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 900px) {
  .section--about {
    padding-top: 67.2px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .section--about {
    padding-top: 89.6px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section--about {
    padding-top: 112px;
    padding-bottom: 100px;
  }
}

.project {
  height: 250px;
  background-color: #34547a;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .project {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .project {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.project .container-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 5%;
}
@media screen and (min-width: 600px) {
  .project .container-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5%;
  }
}
@media screen and (min-width: 1440px) {
  .project .container-project {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px 5%;
  }
}
.project .project__number span {
  font-size: 1.3rem;
}
.project .project__image {
  margin-right: 20px;
  min-width: 45px;
  min-height: 45px;
}
.project .project__item {
  display: flex;
  margin: 0 auto;
}
.project .project__item span {
  color: #fff;
}

.section__part {
  margin-bottom: 30px;
}

.header {
  padding-top: 19.5px;
  padding-bottom: 35.25px;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 31.2px;
    padding-bottom: 56.4px;
  }
}
@media screen and (min-width: 600px) {
  .header {
    padding-top: 46.8px;
    padding-bottom: 84.6px;
  }
}
@media screen and (min-width: 900px) {
  .header {
    padding-top: 62.4px;
    padding-bottom: 112.8px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 78px;
    padding-bottom: 141px;
  }
}
.header .navbar {
  margin-bottom: 40.5px auto;
}
.header .navbar #menu__toggle {
  opacity: 0;
}
.header .navbar #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header .navbar #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header .navbar #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header .navbar #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.header .navbar .menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .navbar .menu__btn > span,
.header .navbar .menu__btn > span::before,
.header .navbar .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.header .navbar .menu__btn > span::before {
  content: "";
  top: -8px;
}
.header .navbar .menu__btn > span::after {
  content: "";
  top: 8px;
}
.header .navbar .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #f9f9f9;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
.header .navbar .menu__link {
  text-align: left;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.25s;
}
.header .navbar .menu__link:hover {
  background-color: #eeeff1;
}
@media screen and (min-width: 480px) {
  .header .navbar {
    margin-bottom: 48.6px;
  }
}
@media screen and (min-width: 600px) {
  .header .navbar {
    margin-bottom: 64.8px;
  }
}
@media screen and (min-width: 900px) {
  .header .navbar {
    margin-bottom: 97.2px;
  }
}
@media screen and (min-width: 1280px) {
  .header .navbar {
    margin-bottom: 129.6px;
  }
}
@media screen and (min-width: 1440px) {
  .header .navbar {
    margin-bottom: 162px;
  }
}
@media screen and (min-width: 600px) {
  .header .navbar .menu__btn,
  .header .navbar #menu__toggle {
    display: none;
  }
}
.header .navbar .menu__link:hover {
  color: #5b86b9;
}
@media screen and (min-width: 600px) {
  .header .navbar .menu__box {
    display: flex;
    position: relative;
    visibility: visible;
    left: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    background-color: #eeeff1;
    box-shadow: none;
    justify-content: space-around;
  }
  .header .navbar .menu__box .menu__item {
    margin-right: 20px;
  }
  .header .navbar .menu__box .menu__link {
    white-space: nowrap;
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .header .navbar .menu__box {
    justify-content: left;
  }
}
.header .hero__title {
  margin-bottom: 30px;
  font-size: 1.8rem;
}
@media screen and (min-width: 480px) {
  .header .hero__title {
    font-size: 2.1rem;
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 600px) {
  .header .hero__title {
    font-size: 2.4rem;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 900px) {
  .header .hero__title {
    font-size: 2.7rem;
    margin-bottom: 54px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .header .hero__title {
    font-size: 3rem;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .header .hero__text {
    margin-bottom: 45.5px;
  }
}
@media screen and (min-width: 600px) {
  .header .hero__text {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 900px) {
  .header .hero__text {
    margin-bottom: 58.5px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .header .hero__text {
    margin-bottom: 65px;
  }
}
.header .text-container {
  margin-bottom: 32.5px;
}
@media screen and (min-width: 900px) {
  .header .text-container {
    margin-left: 0;
  }
}/*# sourceMappingURL=styles.css.map */