@use '../abstracts' as *;

.btn {
    @include btn-scale ($padding-fixed, $font-size-med, 0.7);
    background-color: $color-highlight;
    color: $color-default;
    display: block;     // mixin?
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
}