:root {
  --font-family-primary: Roboto, sans-serif;
  --font-size-xl: 3rem;
  --font-size-lrg: 2rem;
  --font-size-med: 1.3rem;
  --font-size-primary: 1rem;
  --font-size-sml: 0.8rem;
  --font-weight-base: 400;
  --font-weight-bold: 500;
  --line-height-xl: 78.75px;
  --line-height-lrg: 37.5px;
  --line-height-base: 26.25px;
  --color-primary: #eeeff1;
  --color-secondary: #f9f9f9;
  --color-highlight: #34547a;
  --color-additional: #727272;
  --color-default: #fff;
  --margin-x-container: 21%;
  --margin-x-lrg: 2.5%;
  --margin-x-med: 20px;
  --margin-y-base: 50px;
  --padding-y-base: 100px;
  --padding-y-sml: 50px;
  --padding-fixed: 40px;
}

body {
  background-color: var(--color-primary);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-lrg);
  font-size: 1.2rem;
}

@media screen and (min-width: 480px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.4rem;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 600px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 900px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.8rem;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1280px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-lrg);
    margin-bottom: var(--margin-y-base);
  }
}

h1 {
  line-height: var(--line-height-xl);
}

p,
span,
a {
  font-size: 0.7rem;
  text-align: center;
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: #000;
}

@media screen and (min-width: 480px) {
  p,
  span,
  a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 600px) {
  p,
  span,
  a {
    font-size: var(--font-size-primary);
  }
}

.container {
  margin: 0 6.3%;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 8.4%;
  }
}

@media screen and (min-width: 600px) {
  .container {
    margin: 0 10.5%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: 0 14.7%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 16.8%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin: 0 21%;
  }
}

.text-container {
  max-width: 540px;
  margin: auto;
}

.hero__text,
.section__text {
  color: var(--color-additional);
}

.section__video {
  position: relative;
  padding-bottom: 56%;
  width: 100%;
  text-align: left;
}

.section__video iframe {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.btn {
  padding: 14px 28px;
  font-size: 0.91rem;
  background-color: var(--color-highlight);
  color: var(--color-default);
  margin: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background-color: #5b86b9;
}

@media screen and (min-width: 600px) {
  .btn {
    padding: 16px 32px;
    font-size: var(--font-size-sml);
  }
}

@media screen and (min-width: 900px) {
  .btn {
    padding: 18px 36px;
    font-size: 0.9rem;
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .btn {
    padding: 20px var(--padding-fixed);
    font-size: var(--font-size-primary);
  }
}

.footer {
  background-color: var(--color-highlight);
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    padding-top: var(--padding-fixed);
    padding-bottom: var(--padding-fixed);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: var(--padding-y-sml);
    padding-bottom: var(--padding-y-sml);
  }
}

.footer .footer__bg {
  color: var(--color-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-med);
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .footer .footer__bg {
    text-align: left;
    margin-bottom: var(--margin-x-med);
  }
}

.footer .footer__sm {
  color: var(--color-default);
  font-size: var(--font-size-sml);
}

@media screen and (min-width: 900px) {
  .footer .footer__sm {
    text-align: left;
  }
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: var(--padding-fixed);
    padding-bottom: var(--padding-fixed);
  }
}

@media screen and (min-width: 600px) {
  .section {
    padding-top: var(--padding-y-sml);
    padding-bottom: var(--padding-y-sml);
  }
}

@media screen and (min-width: 900px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: var(--padding-y-base);
    padding-bottom: var(--padding-y-base);
  }
}

.section--about {
  background-color: var(--color-secondary);
  padding-top: 28px;
  padding-bottom: 25px;
}

@media screen and (min-width: 480px) {
  .section--about {
    padding-top: 44.8px;
    padding-bottom: var(--padding-fixed);
  }
}

@media screen and (min-width: 600px) {
  .section--about {
    padding-top: 56px;
    padding-bottom: var(--padding-y-sml);
  }
}

@media screen and (min-width: 900px) {
  .section--about {
    padding-top: 67.2px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .section--about {
    padding-top: 89.6px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .section--about {
    padding-top: 112px;
    padding-bottom: var(--padding-y-base);
  }
}

.project {
  height: 250px;
  background-color: var(--color-highlight);
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .project {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .project {
    padding-top: var(--padding-y-base);
    padding-bottom: var(--padding-y-base);
  }
}

.project .container-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--margin-x-med) 5%;
}

@media screen and (min-width: 600px) {
  .project .container-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin-x-med) 5%;
  }
}

@media screen and (min-width: 1440px) {
  .project .container-project {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--margin-x-med) 5%;
  }
}

.project .project__number span {
  font-size: var(--font-size-med);
}

.project .project__image {
  margin-right: var(--margin-x-med);
  min-width: 45px;
  min-height: 45px;
}

.project .project__item {
  display: flex;
  margin: 0 auto;
}

.project .project__item span {
  color: var(--color-default);
}

.section__part {
  margin-bottom: 30px;
}

.header {
  padding-top: 19.5px;
  padding-bottom: 35.25px;
}

@media screen and (min-width: 480px) {
  .header {
    padding-top: 31.2px;
    padding-bottom: 56.4px;
  }
}

@media screen and (min-width: 600px) {
  .header {
    padding-top: 46.8px;
    padding-bottom: 84.6px;
  }
}

@media screen and (min-width: 900px) {
  .header {
    padding-top: 62.4px;
    padding-bottom: 112.8px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 78px;
    padding-bottom: 141px;
  }
}

.header .navbar {
  margin-bottom: 40.5px auto;
}

.header .navbar #menu__toggle {
  opacity: 0;
}

.header .navbar #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

.header .navbar #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

.header .navbar #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.header .navbar #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.header .navbar .menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.header .navbar .menu__btn > span,
.header .navbar .menu__btn > span::before,
.header .navbar .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.header .navbar .menu__btn > span::before {
  content: "";
  top: -8px;
}

.header .navbar .menu__btn > span::after {
  content: "";
  top: 8px;
}

.header .navbar .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: var(--color-secondary);
  box-shadow: 1px 0 6px #0003;
  transition-duration: 0.25s;
}

.header .navbar .menu__link {
  text-align: left;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.25s;
}

.header .navbar .menu__link:hover {
  background-color: var(--color-primary);
}

@media screen and (min-width: 480px) {
  .header .navbar {
    margin-bottom: 48.6px;
  }
}

@media screen and (min-width: 600px) {
  .header .navbar {
    margin-bottom: 64.8px;
  }
}

@media screen and (min-width: 900px) {
  .header .navbar {
    margin-bottom: 97.2px;
  }
}

@media screen and (min-width: 1280px) {
  .header .navbar {
    margin-bottom: 129.6px;
  }
}

@media screen and (min-width: 1440px) {
  .header .navbar {
    margin-bottom: 162px;
  }
}

@media screen and (min-width: 600px) {
  .header .navbar .menu__btn,
  .header .navbar #menu__toggle {
    display: none;
  }
}

.header .navbar .menu__link:hover {
  color: #5b86b9;
}

@media screen and (min-width: 600px) {
  .header .navbar .menu__box {
    display: flex;
    position: relative;
    visibility: visible;
    left: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    background-color: var(--color-primary);
    box-shadow: none;
    justify-content: space-around;
  }

  .header .navbar .menu__box .menu__item {
    margin-right: var(--margin-x-med);
  }

  .header .navbar .menu__box .menu__link {
    white-space: nowrap;
    padding: 0;
  }
}

@media screen and (min-width: 900px) {
  .header .navbar .menu__box {
    justify-content: left;
  }
}

.header .hero__title {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

@media screen and (min-width: 480px) {
  .header .hero__title {
    font-size: 2.1rem;
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 600px) {
  .header .hero__title {
    font-size: 2.4rem;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 900px) {
  .header .hero__title {
    font-size: 2.7rem;
    margin-bottom: 54px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .header .hero__title {
    font-size: var(--font-size-xl);
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .header .hero__text {
    margin-bottom: 45.5px;
  }
}

@media screen and (min-width: 600px) {
  .header .hero__text {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 900px) {
  .header .hero__text {
    margin-bottom: 58.5px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .header .hero__text {
    margin-bottom: 65px;
  }
}

.header .text-container {
  margin-bottom: 32.5px;
}

@media screen and (min-width: 900px) {
  .header .text-container {
    margin-left: 0;
  }
}
